<launch>
    <arg name="map_file" default="$(find team6_navigate_map)/maps/7785_final_real.yaml"/>

    <!-- launch gazebo -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_maze.launch"/>

    <!-- launch navigation -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>
</launch>